[user]
	name = João Pinheiro
	email = joao.castropinheiro@gmail.com
	signingKey = CA439ECD5D4F3704
[push]
	default = tracking
[pull]
	default = tracking
	rebase = true
[color]
	diff = false
[merge]
	tool = vimdiff
[status]
	showUntrackedFiles = no
[fetch]
	prune = true
[commit]
	gpgsign = true
[alias]
	lg = log --color --graph --pretty=format:'%h (%Cgreen%cd%Creset) %s %C(6)<%an>%Creset %C(blue)%d%Creset' --abbrev-commit --date=format:'%x %X'
[pager]
	branch = false
