[user]
	name = João Pinheiro
	email = joao.castropinheiro@gmail.com
	signingKey = CA439ECD5D4F3704
[push]
	default = tracking
[pull]
	default = tracking
	rebase = true
[color]
	diff = false
[merge]
	tool = vimdiff
[status]
	showUntrackedFiles = no
[fetch]
	prune = true
[commit]
	gpgsign = true
